{{ ansible_managed | comment }}
%echo Generating a basic OpenPGP key
Key-Type: 1
Key-Length: {{ gpg_keylength }}
{% if gpg_subkeylength > 0 %}
Subkey-Type: 1
Subkey-Length: {{ gpg_subkeylength }}
{% endif %}
Name-Real: {{ gpg_realname }}
Name-Email: {{ gpg_useremail }}
%no-ask-passphrase
%no-protection
%pubring {{ gpg_pubkeyfile }}
%secring {{ gpg_privkeyfile }}
%commit
%echo done